table {
  border-collapse: collapse;
  background-color: #fff;
  width: 100%;
  min-width: 600px;
}

th {
  text-align: left;
  padding: 0.6rem 0.3rem;
}

td {
  padding: 0.3rem;
  border-bottom: solid 1px #f3f3f3;
}

thead {
  background-color: #152d6d;
  color: #fff;
}

input[type='text'],
textarea {
  width: 400px;
}

textarea {
  height: 100px;
}

.scroll-container {
  border: solid 1px #152d6d;
}
.table-container {
}

.table-header {
  display: flex;
  justify-content: end;
  gap: 10px;
  background-color: #ee9504;
  padding: 0.8rem 1rem;
  color: #1e1e72;
}

.table-footer {
  display: flex;
  justify-content: center;
  background-color: #ee9504;
  padding: 0.8rem 1rem;
  gap: 10px;
  color: #1e1e72;
  border-top: solid 1px #152d6d;
}

.edit {
  color: #1e1e72;
  cursor: pointer;
  padding-left: 5px;
}

.delete {
  color: #9b0404;
  cursor: pointer;
}

#addVehicle-container form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: center;
  margin: 3rem 0 2.5rem 0;
}

.buttons {
  display: flex;
  gap: 10px;
}
