@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Base styling*/
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background-color: #f4f4f4;
}

main {
  padding: 3rem 2rem 2.5rem 2rem;
}

textarea {
  font-family: 'Roboto', sans-serif;
}

.btn {
  display: inline-block;
  border: none;
  background: #222;
  cursor: pointer;
  color: #f4f4f4;
  padding: 0.5rem 1.5rem;
  outline: none !important;
}

.btn-secondary {
  background: #ee9504;
  color: #222;
}

.btn-danger {
  background: #a82020;
}

.form-control {
  padding: 8px 4px;
  border: solid 1px #c2c2c2;
  border-radius: 5px;
  outline: none !important;
}
