@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Base styling*/
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background-color: #f4f4f4;
}

main {
  padding: 3rem 2rem 2.5rem 2rem;
}
